@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Project_EFT.Data_Classes;
@using Microsoft.AspNetCore.Html;
@using System.Diagnostics;
@using Project_EFT.Ciphers
@using Project_EFT.Ciphers.Options
@{ISession session = HttpContextAccessor.HttpContext.Session; }

@if (session.ContainsKey("activeSystem"))
{
    Cipher activeSystem = session.GetComplexObject<Cipher>("activeSystem");
    <h1>@activeSystem.Name</h1>

    <!-- encryption form-->
<form action="~/Cipher/encrypt" method="post">
    <h6>Encrypt Cipher</h6>
    @{
        foreach (Option opt in activeSystem.EncryptionFormOptions)
        {
            @(new HtmlString(@opt.GetHTML()))<br>
        }
    }
    <input type="submit" value="Encrypt">
</form>

    <!-- decryption form-->
<form action="~/Cipher/decrypt" method="post">
    <h6>Decrypt Cipher</h6>
    @{
        foreach (Option opt in activeSystem.DecryptionFormOptions)
        {
            @(new HtmlString(@opt.GetHTML()))<br>
        }
    }
    <input type="submit" value="Decrypt">
</form>
}
else
{
    <h1> No cipher system with that ID exists.</h1>
}