@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Project_EFT.Data_Classes;
@using System.Diagnostics;
@{ISession session = HttpContextAccessor.HttpContext.Session; }



@if (session.ContainsKey("problem"))
{

    Problem problem = session.GetComplexObject<Problem>("problem");


    <h1>@problem.Title</h1>
    <h2>This is problem number @problem.ProblemNumber.</h2>
    <div>@problem.Question</div>
    @if (session.ContainsKey("userInfo"))
    {
        StandardUser user = session.GetComplexObject<StandardUser>("userInfo");

        if (user.Submissions.ContainsKey(problem.ProblemNumber))
        {
            int numSubs = user.Submissions[problem.ProblemNumber].Count;
            if (!user.Submissions[problem.ProblemNumber][numSubs - 1].IsCorrect)
            {
                <!-- submission form-->
                <form action="~/Problem/CheckAnswer" method="post">
                    <input type="text" id="answer" name="answer" /><br />
                    <input type="submit" value="Submit your answer!" />
                    <div></div>
                </form>
            }
            else
            {
                <br />
                <br /><div>Congratulations, this problem has been completed!</div>
            }
        }
        else
        {
            <!-- submission form-->
            <form action="~/Problem/CheckAnswer" method="post">
                <input type="text" id="answer" name="answer" /><br />
                <input type="submit" value="Submit your answer!" />
                <div></div>
            </form>
        }

        if ((ViewData["isCorrect"] != null && (bool)ViewData["isCorrect"]))
        {
            <div style="color:green">Correct!</div>
        }
        else if ((ViewData["isCorrect"] != null && !(bool)ViewData["isCorrect"]))
        {
            <div style="color:crimson">Incorrect, please try again!</div>
        }

        <br />
        <br />

        if (user.Submissions.ContainsKey(problem.ProblemNumber))
        {
            <button class="accordion active">Show Your Submissions!</button>
            <div class="panel" style="display: none;">
                <table>
                    <tr>
                        <th>Answer</th>
                        <th>Date</th>
                        <th>Correctness</th>
                    </tr>
                    @foreach (AnswerSubmission sub in user.Submissions[problem.ProblemNumber])
                    {
                        <tr>
                            <th>@sub.Content</th>
                            <th>@sub.SubmissionDate</th>
                            @if (sub.IsCorrect)
                            {
                                <th>Correct</th>
                            }
                            else
                            {
                                <th>Incorrect</th>
                            }
                        </tr>
                    }

                </table>
            </div>
        }

    }
    else
    {
        <br />
        <br /><div>In order to submit a solution you must sign in to a User account.</div>
    }

}
else
{
    <h1>This problem has not yet been created!</h1>
}

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
