@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Project_EFT.Data_Classes;
@{ISession session = HttpContextAccessor.HttpContext.Session; }
@{

    string passwordResetError = session.TryGetAndRemoveKey<String>("passwordResetError");
    string username = session.TryGetAndRemoveKey<String>("username");
    string accountResetError = session.TryGetAndRemoveKey<String>("accountResetError");
    string email = session.TryGetAndRemoveKey<String>("email");
    string passwordResetSuccess = session.TryGetAndRemoveKey<String>("passwordResetSuccess");
    string accountResetSuccess = session.TryGetAndRemoveKey<String>("accountResetSuccess");
    string usernameErrorMessage = session.TryGetAndRemoveKey<String>("usernameErrorMessage");
    string emailErrorMessage = session.TryGetAndRemoveKey<String>("emailErrorMessage");
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.12.0/js/md5.min.js"></script>

@{ViewData["Title"] = "Recover Account Information"; }

    Forgot your password? Enter your username below to send a password recovery email.
<br />
<form id="forgotPassword" action="~/Recovery/forgotPassword" method="post">
    <input type="text" id="username" name="username" value="@username" /><br>
    <div class="error" id="username-error">@usernameErrorMessage</div>
    <input type="button" value="Recover password" onclick="recoverPassword()" />
    <div class="error" id="forgot-password-error">@passwordResetError</div>
    <div class="success" id="forgot-password-success">@passwordResetSuccess</div>
</form>
<br />

Forgot your username? Enter your email below to send an account recovery email.
<br />
<form id="forgotUsername" action="~/Recovery/forgotUsername" method="post">
    <input type="text" id="email" name="email" value="@email" /><br>
    <div class="error" id="email-error">@emailErrorMessage</div>
    <input type="button" value="Recover account" onclick="recoverAccount()" />
    <div class="error" id="forgot-account-error">@accountResetError</div>
    <div class="success" id="forgot-account-success">@accountResetSuccess</div>
</form>

<script>

    function recoverPassword() {
        let usernameElement = document.getElementById("username");
        let username = usernameElement.value.trim();

        if (verifyInformation(username, TYPE_USERNAME)) {
            document.getElementById("forgotPassword").submit();
        } else {
            document.getElementById("username-error").innerHTML = "Please enter a valid username.";
        }
    }

    function recoverAccount() {
        let emailElement = document.getElementById("email");
        let email = emailElement.value.trim();

        if (verifyInformation(email, TYPE_EMAIL)) {
            document.getElementById("forgotUsername").submit();
        } else {
            document.getElementById("email-error").innerHTML = "Please enter a valid email.";
        }
    }

</script>